pandas
numpy
matplotlib
scikit-learn
emoji
nltk
seaborn
PySastrawi
wordcloud
plotly
openpyxl
streamlit
pandas
numpy
plotly
nltk
scikit-learn
wordcloud
matplotlib
openpyxl
emoji
mysql-connector-python
